<div >
    <div class="flex h-screen items-center justify-center p-5 animated-background bg-gradient-to-t from-blue-900 via-gray-900 to-gray-950 ">
      <!-- neon border in Header -->
      <div class="flex justify-center text-sky-200 border-2 rounded-lg border-sky-200 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f] h-full min-w-full">
        <div class="grid md:grid-cols-1 grid-cols-1 items-center gap-10 md:px-10">
          <div>
              <div class="font-extrabold text-3xl md:text-4xl [text-wrap:balance] bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 p-3">
                  <span class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f,_0_0_0.2em_blue]">Hi,
                      </span> I'm Shun. Here is what I know 
                      <!-- sliding animation -->
                      <span class="text-white inline-flex flex-col overflow-hidden h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]  pl-2">
                  <ul class="block animate-text-slide text-left leading-tight [&_li]:block">
                      <li class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]">Java</li>
                      <li class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]">C++</li>
                      <li class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]">React JS</li>
                      <li class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]">Git</li>
                      <li class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]">Node JS</li>
                      <li aria-hidden="true" class="transition-colors duration-300 hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]"> Java</li>
                  </ul>
              </span></div>


            <div class="flex justify-center space-x-5 pt-24">
              <!-- linkedin -->
              <button class="relative group overflow-hidden w-full items-center justify-center gap-10 rounded-2xl bg-gray-200 p-5 py-3 font-bold text-blue-600 group-hover:translate-x-0 ease">
              <a href="https://www.linkedin.com/in/shun-khaing-a3040725a/" target="_blank">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full font-bold text-lg text-white duration-500 -translate-x-full bg-blue-600 group-hover:translate-x-0 ease-in-out gap-2 ">
                  LinkedIn
                  <svg class="h-7 w-7 text-white" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M44.45 0H3.55A3.5 3.5 0 0 0 0 3.46v41.07A3.5 3.5 0 0 0 3.54 48h40.9A3.51 3.51 0 0 0 48 44.54V3.46A3.5 3.5 0 0 0 44.45 0Zm-30.2 40.9H7.11V18h7.12v22.9Zm-3.57-26.03a4.13 4.13 0 1 1-.02-8.26 4.13 4.13 0 0 1 .02 8.26ZM40.9 40.9H33.8V29.77c0-2.66-.05-6.08-3.7-6.08-3.7 0-4.27 2.9-4.27 5.89V40.9h-7.1V18h6.82v3.12h.1c.94-1.8 3.26-3.7 6.72-3.7 7.21 0 8.54 4.74 8.54 10.91V40.9Z"
                        fill="currentColor"></path>
                </svg>
                </span>
              </a>
                <div aria-hidden="true" class="transition duration-500 group-hover:-translate-x-full ease">
                  
                  <div class=" flex items-center justify-center transition duration-100 gap-2">
                    Let's connect on LinkedIn

                  <div class=" flex items-center justify-center">
                    <svg class="h-7 w-7 text-blue-600" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M44.45 0H3.55A3.5 3.5 0 0 0 0 3.46v41.07A3.5 3.5 0 0 0 3.54 48h40.9A3.51 3.51 0 0 0 48 44.54V3.46A3.5 3.5 0 0 0 44.45 0Zm-30.2 40.9H7.11V18h7.12v22.9Zm-3.57-26.03a4.13 4.13 0 1 1-.02-8.26 4.13 4.13 0 0 1 .02 8.26ZM40.9 40.9H33.8V29.77c0-2.66-.05-6.08-3.7-6.08-3.7 0-4.27 2.9-4.27 5.89V40.9h-7.1V18h6.82v3.12h.1c.94-1.8 3.26-3.7 6.72-3.7 7.21 0 8.54 4.74 8.54 10.91V40.9Z"
                            fill="currentColor"></path>
                    </svg>
                  </div>
                  
                </div>

              </button>
              <!-- <button class="flex w-full items-center justify-center gap-2 rounded-2xl bg-red p-5 py-3 font-semibold border-2 border-sky-200 hover:shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]
              text-white hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_blue,0_0_5px_#08f,0_0_15px_#08f,0_0_10px_#08f,_0_0_0.2em_blue]
              relative group overflow-hidden px-6 ">
              <div aria-hidden="true" class="transition duration-300 group-hover:-translate-y-12">
                <div class="flex  h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))]">
                    <span class="text-white">Resume</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </div>
                <div class="flex  h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))]">
                  <span class="text-purple-700">Partager</span>
                </div>
              </div>
              </button> -->
              <!-- resume -->
              <button class="relative group overflow-hidden px-6 h-12 border border-purple-200 w-full items-center justify-center
              hover:shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f] gap-2 rounded-2xl bg-red font-semibold">
                <div aria-hidden="true" class="transition duration-300 group-hover:-translate-y-12">
                    <div class="h-12 flex items-center justify-center text-white gap-1">
                      Resume
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>

                    </div>
                    <div class="h-12 flex items-center justify-center text-white gap-2">
                      Download
                    </div>
                </div>
              </button>
            </div>
          </div>
          <!-- <div class="flex justify-center items-center text-sky-200 border-2 rounded-lg border-sky-200 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]">
            <img src="../images/" alt="" class="md:size-96 size-72 rounded-full " />
          </div> -->
        </div>
    </div>
    </div>
  </div>
