<nav class="font-mono h-14 w-full text-white px-5 py-4 bg-[#000000] 
bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
  <div class=" flex justify-between items-center">
      <div class=" font-extrabold text-3xl md:text-4xl [text-wrap:balance]">
        logo
      </div>

      <div class="text-lg whitespace-nowrap flex items-center">

        <ul class="flex gap-12 ">
          <li class="transition-all duration-700 ease-in-out hover:text-white hover:scale-110
           hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_red,0_0_5px_red,0_0_15px_red,0_0_10px_red,_0_0_0.2em_white]">
            <a href="" >About</a>
          </li>
          <li class="transition-all duration-700 ease-in-out hover:text-white hover:scale-110 
          hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_violet,0_0_5px_violet,0_0_15px_violet,0_0_10px_violet,_0_0_0.2em_white]">
          <a href="">Hello</a></li>
          <li class="transition-all duration-700 ease-in-out hover:text-white hover:scale-110
          hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_cyan,0_0_5px_cyan,0_0_15px_cyan,0_0_10px_cyan,_0_0_0.2em_white]">
          <a href="">world</a></li>
          <li class="transition-all duration-700 ease-in-out hover:text-white hover:scale-110
          hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_orange,0_0_5px_orange,0_0_15px_orange,0_0_10px_orange,_0_0_0.2em_white]">
          <a href="">Contact</a></li>
          <li class="transition-all duration-700 ease-in-out hover:text-white hover:scale-110
          hover:[text-shadow:_0px_0px_2px_#fff,_0_0_1em_lime,0_0_5px_lime,0_0_15px_lime,0_0_10px_lime,_0_0_0.2em_white]">
          <a href="">Project</a></li>
        </ul>
        
      </div>
    </div>
</nav>

