---
import gsap from "gsap";
---

<div id="scroll-container" class = "animate-fade">
    <div class="h-vh items-center p-5 animated-background bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] 
    bg-[size:20px_20px]">

    <section class="py-24 center">
        <div class="container">
            <div class="row">
                <div class="col relative flex flex-row justify-center md:justify-center">
                    <div id="canvas" class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[-200px] taos:opacity-0 taos-init" data-taos-offset="400"
                     data-taos-class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[-200px] taos:opacity-0 taos-init">
                        <h3 class="font-semibold capitalize">fade left</h3>
                        <!-- <pre class="max-w-full md:w-[500px] rounded"> -->
                            
                        <!-- </pre> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="py-24 center">
        <div class="container">
            <div class="row">
                <div class="col relative flex flex-row justify-center md:justify-end">
                    <div id="canvas" class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary rounded-md delay-[200ms] duration-[400ms] [animation-iteration-count:infinite] taos:[transform:translate3d(200px,200px,0)] taos:opacity-0 taos-init" data-taos-offset="100" 
                    data-taos-class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:[transform:translate3d(200px,200px,0)] taos:opacity-0 taos-init">
                        <h3 class="font-semibold capitalize">fade right up</h3>

                            <iframe id="calculator" src="https://blacksheepshaun.github.io/CalculatorJS/" class="max-w-full md:w-[500px] rounded" ></iframe>

                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="py-24 center">
        <div class="container">
            <div class="row">
                <div class="col relative flex flex-row justify-center md:justify-start">
                    <div id="canvas" class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:[transform:translate3d(-200px,200px,0)] taos:opacity-0 taos-init"
                    data-taos-offset="100" data-taos-class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:[transform:translate3d(-200px,200px,0)] taos:opacity-0 taos-init">
                        <h3 class="font-semibold capitalize">fade left up</h3>
                        <pre class="max-w-full md:w-[500px] rounded">
                            <iframe id="web" src="https://blacksheepshaun.github.io/Web-Development-Journey/" class="md:w-[500px] rounded" ></iframe>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="py-24 center">
        <div class="container">
            <div class="row">
                <div class="col relative flex flex-row justify-center md:justify-centre">
                    <div id="canvas" class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[200px] taos:opacity-0 taos-init" 
                    data-taos-offset="100" data-taos-class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[200px] taos:opacity-0 taos-init">
                        <h3 class="font-semibold capitalize">Fade up</h3>
                        <pre class="max-w-full md:w-[500px] rounded"><code class="language-html !whitespace-normal">&lt;div class="delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="400"&gt;&lt;div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="py-24 center">
        <div class="container">
            <div class="row">
                <!-- <div class="col relative flex flex-row justify-center md:justify-start">
                    <div id="canvas" class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-y-[-200px] taos:opacity-0 taos-init" data-taos-offset="400" data-taos-class="flex flex-col items-center justify-center py-3 px-3 max-w-full md:w-[550px] bg-primary text-white rounded-md delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:translate-x-[-200px] taos:opacity-0 taos-init">
                        <h3 class="font-semibold capitalize">fade right</h3>
                        <pre class="max-w-full md:w-[500px] rounded"><code class="language-html !whitespace-normal">&lt;div class="delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="400"&gt;&lt;div&gt;</code></pre>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    

    </div>

</div>


<style>

/* h1 {
    font-size: 6rem;
  margin: 0;
  padding: 50px 0 0 50px;
} */

/* section {
  width: 100%;
  height: 33vh;
  position: relative;

} */

#card {
    /* height: 99px; */
    /* width: 20%;
    border: 4px; */
}

#canvas {
    background: white;
}

#web{
    height: 50vh;
    width: 50vw;
}

#calculator {
    height: 42.5vh;
    width: 76%;
    border-radius: 16px;
}

/* .row {
    border: 2px;
    border-style: double;
    
} */
h3, pre {
    color: black;
}

/* section:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.7);
}

section:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.9);
} */

</style>

<script>

 

</script>