---
import { Fragment } from 'astro/jsx-runtime';
---

<div class="animated-background bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px] text-white">
  <!-- About Me Section -->
  <section id="about" class="container mx-auto px-6 text-center ">
    <h2 class="pb-5 text-white text-4xl font-bold drop-shadow-[0_0_10px_#08f]">About Me</h2>
    <p class="max-w-2xl mx-auto text-lg text-white drop-shadow-[0_0_5px_#08f]">I'm Shun, a developer passionate about web technologies, game development, and working with data. I thrive in challenging environments and constantly seek opportunities to expand my skill set and make an impact.</p>
  </section>

  <!-- Education and Certifications Section -->
  <section id="education" class="container mx-auto px-6 text-center text-white text-4xl font-bold drop-shadow-[0_0_10px_#08f]">
    <h2 class="text-3xl font-bold mb-4">Education & Certifications</h2>
    <ul class="text-lg list-none flex flex-col">
      <li>
        Second-year Computer Science student at City College of San Francisco (CCSF).
      </li>
      <li class="pt-6">
        <strong>"Build a Map Dashboard to Visualize Geographical Data,"</strong>
        <p>
        led by Shubham Sankhe, part of The Build Fellowship (Completed on September 16, 2024)
        </p>
      </li>
    </ul>
  </section>

  <section id="contact" class="container mx-auto p-20 px-6 text-center">
    <h2 class="text-3xl font-bold mb-4 text-white drop-shadow-[0_0_10px_#08f]">Get in Touch</h2>
    <form class="max-w-md mx-auto mt-8">
      <div class="mb-4">
        <input type="text" placeholder="Name" class="w-full p-3 border rounded-lg bg-[#1e293b] border-gray-600 text-white" />
      </div>
      <div class="mb-4">
        <input type="email" placeholder="Email" class="w-full p-3 border rounded-lg bg-[#1e293b] border-gray-600 text-white" />
      </div>
      <div class="mb-4">
        <textarea placeholder="Message" rows="5" class="w-full p-3 border rounded-lg bg-[#1e293b] border-gray-600 text-white"></textarea>
      </div>
      <button type="submit" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white rounded-lg">Send Message</button>
    </form>
  </section>
</div>
