---
import gsap from "gsap";
---

<div id="scroll-container" class = "animate-fade">
    <div class="h-vh items-center p-5 animated-background bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] 
    bg-[size:20px_20px]">

    <div class="delay-[300ms] duration-[600ms] taos:translate-y-[-200px] taos:opacity-0" data-taos-offset="500"><div>

    </div>

</div>
