

<div class="w-full inline-flex flex-nowrap overflow-hidden bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        <li>
            <img src="/skills/java.svg" alt="Java" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/godot-logo.svg" alt="Godot" class="w-20 h-20" />
        </li>
        <li>
            <img src="/skills/react-2.svg" alt="React" class="w-12 h-12" /> 
        </li>
        <li>
            <img src="/skills/logo-javascript.svg" alt="JS" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/tailwindcss.svg" alt="tailwindcss" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/c.svg" alt="cpp" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/git.svg" alt="git" class="w-20 h-20 pt-5" />
        </li>
        <li>
            <img src="/skills/nestjs-ar21.svg" alt="nestjs" class="w-24 h-24" /> 
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        <li>
            <img src="/skills/java.svg" alt="Java" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/godot-logo.svg" alt="Godot" class="w-20 h-20" />
        </li>
        <li>
            <img src="/skills/react-2.svg" alt="React" class="w-12 h-12" /> 
        </li>
        <li>
            <img src="/skills/logo-javascript.svg" alt="JS" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/tailwindcss.svg" alt="tailwindcss" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/c.svg" alt="cpp" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/git.svg" alt="git" class="w-20 h-20 pt-5" />
        </li>
        <li>
            <img src="/skills/nestjs-ar21.svg" alt="nestjs" class="w-24 h-24" /> 
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        <li>
            <img src="/skills/java.svg" alt="Java" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/godot-logo.svg" alt="Godot" class="w-20 h-20" />
        </li>
        <li>
            <img src="/skills/react-2.svg" alt="React" class="w-12 h-12" /> 
        </li>
        <li>
            <img src="/skills/logo-javascript.svg" alt="JS" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/tailwindcss.svg" alt="tailwindcss" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/c.svg" alt="cpp" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/git.svg" alt="git" class="w-20 h-20 pt-5" />
        </li>
        <li>
            <img src="/skills/nestjs-ar21.svg" alt="nestjs" class="w-24 h-24" /> 
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        <li>
            <img src="/skills/java.svg" alt="Java" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/godot-logo.svg" alt="Godot" class="w-20 h-20" />
        </li>
        <li>
            <img src="/skills/react-2.svg" alt="React" class="w-12 h-12" /> 
        </li>
        <li>
            <img src="/skills/logo-javascript.svg" alt="JS" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/tailwindcss.svg" alt="tailwindcss" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/c.svg" alt="cpp" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/git.svg" alt="git" class="w-20 h-20 pt-5" />
        </li>
        <li>
            <img src="/skills/nestjs-ar21.svg" alt="nestjs" class="w-24 h-24" /> 
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
        <li>
            <img src="/skills/java.svg" alt="Java" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/godot-logo.svg" alt="Godot" class="w-20 h-20" />
        </li>
        <li>
            <img src="/skills/react-2.svg" alt="React" class="w-12 h-12" /> 
        </li>
        <li>
            <img src="/skills/logo-javascript.svg" alt="JS" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/tailwindcss.svg" alt="tailwindcss" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/c.svg" alt="cpp" class="w-12 h-12" />
        </li>
        <li>
            <img src="/skills/git.svg" alt="git" class="w-20 h-20 pt-5" />
        </li>
        <li>
            <img src="/skills/nestjs-ar21.svg" alt="nestjs" class="w-24 h-24" /> 
        </li>
    </ul>

    
</div>