---
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import SkillsSection from "../components/SkillsSection.astro";
import Projects from "../components/Projects.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Portfolio", 
image = "/images/logo.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="{description}" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property = "og:image" content={image}/>
		<title>{title}</title>
	</head>
	<body class = "min-h-screen">

		<Navbar />
		<Header />
		<SkillsSection />
		<Projects />
		<slot />
	</body>
</html>


